
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    // Recommended index for blog post queries:
    // Collection: blogPosts
    // Fields:
    // 1. slug (Ascending)
    // 2. status (Ascending)

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
